@import "../../scss/vars.scss";

.nav_bar {
  max-width: 264px;
  border: 1px solid$nav-bar-border;
  display: block;
  padding: 12px;
  height: 100%;
  border-radius: 18px;

  & .nav_bar_item {
    padding: 12px;
    width: 240px;
    color: $nav-bar-text-color;
    cursor: pointer;
  }
  & .nav_bar_item_checked {
    padding: 12px;
    width: 240px;
    color: $white-color;
    background-color: $green-color;
    border-radius: 12px;
    cursor: pointer;
  }
}
